@mixin overlay() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparentize($backgroundColor, 0.26);
}
@mixin flexCentered() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin hangman_part($width, $height, $top, $left, $zIndex, $imgUrl) {
  width: $width * 1px;
  height: $height * 1px;
  top: $top * 1px;
  left: $left * 1px;
  z-index: $zIndex;
  background-image: url(../images/#{$imgUrl}.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transition: opacity 250ms ease-out;
  @media (max-width: $phone) {
    width: $width * 0.5px;
    height: $height * 0.5px;
    top: $top * 0.5px;
    left: $left * 0.5px;
  }
}
