$backgroundColor : #3b4163;
$uiAccentColor   : #ffba00;
$white           : #ffffff;
$accentColor     : #4d69fa;
$darkAccentColor : #53555d;

$tablet: 768px;
$phone : 640px;

$boardHeight : 491px;
$boardWidth  : 811px